.sidenav-container {
}

.sidenav {
  width: 300px;
  position:fixed;
  margin-top:75px;
}
.mat-toolbar {
  width: 100%;
}
/* navbar.component.css */
.active-link {
  background-color: #ddd; /* Highlight color for the active link */
}
.spacer {
  flex: 1 1 auto;
}
.new{
  border-radius: 10px;
}
.new:hover{
  background: darkgrey;
}
