<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <form [formGroup]="personPaymentGroup" (ngSubmit)="onSubmit()" >
        <!--        person form group-->
        <div class="form-area">
          <h3>Person Payment Details</h3>
          <div class="col-md-9">
            <div class="input-space">
              <input formControlName="taxPayerRegistrationNumber" type="text" placeholder="Tax Payer Registration Number">
            </div>
            <div class="input-space">
              <input formControlName="payeesNIC" type="text" placeholder="Payees NIC">
            </div>
            <div class="input-space">
              <input formControlName="payeesName" type="text" placeholder="Payees Name">
            </div>
            <div class="input-space">
              <input formControlName="payersNIC" type="text"  placeholder="Payers NIC">
            </div>
            <div class="input-space">
              <input formControlName="payersName" type="text" placeholder="Payers Name">
            </div>
            <div class="input-space">
              <input formControlName="periodCode" type="text" placeholder="Period Code">
            </div>
            <div class="input-space">
              <input formControlName="installmentNumber" type="text" placeholder="Installment Number">
            </div>
            <div class="input-space">
              <input formControlName="paymentDescription" type="text" placeholder="Payment Description">
            </div>
            <div class="input-space">
              <input formControlName="paidAmount" type="text" placeholder="Paid Amount">
            </div>
          </div>
        </div>
        <div>
          <button id="government-login" type="submit">Save Person Payment</button>
        </div>
      </form>
    </div>
  </div>
</div>
